extends layout

block content

  if(typeof msg !== 'undefined')
    if(!!err)
      div(class='msgbox err')
        p= msg
    else
      div(class='msgbox success')
        p= msg

  div(class='box half', role='region')
    h3(id='contact-form-title') Contact Us
    form(action='/contact', method='post', aria-labelledby='contact-form-title')
      label(data-required='true', for='name') Name
      input(autocorrect="off",
            autocapitalize="off",
            type="text",
            autofocus="autofocus",
            id="name",
            name="name",
            required='required',
            placeholder="name")
      label(data-required='true', for='email') Email
      input(autocorrect="off",
            autocapitalize="off",
            type="email",
            id="email",
            name="email",
            required='required',
            placeholder="email")
      label(data-required='true', for='subject') Subject
      div.select-style
        select(id="subject",
               name="subject",
               required='required')
          option(value='General') General
          option(value='Catering') Catering
      label(data-required='true', for='message') Message
      textarea(id="message",
               name="message",
               required='required',
               placeholder="message")
      div.center
        input(type='submit', value='Send', class='button')

  div(class='box half', role='region')
    include ./includes/hours

  div(class='box', role='region')
    h3(id='map-south-side-header') South Side Location
      span.address 1925 E Carson St, Pittsburgh PA 15203
    div(id='map-south-side', aria-labelledby='map-south-side-header', class='map')

  div(class='box', role='region')
    h3(id='map-public-market-header') Public Market Location
      span.address 2401 Penn Avenue, Pittsburgh, PA, 15222
    div(id='map-public-market', aria-labelledby='map-public-market-header', class='map')

  script(src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false")

  include ./includes/maps/south-side.jade
  include ./includes/maps/public-market.jade

  script.
    window.onload = function() {
      var subject = utilities.getParameterByName('subject');

      if (subject.length) {
        document.getElementById('subject').value = subject;
      }
    }
