extends layout

block content
  div(class='box half', role='region')
    h3(id='contact-form-title') Contact Us
    form(action='/', method='post', aria-labelledby='contact-form-title')
      label(data-required='true', for='name') Name
      input(autocorrect="off",
            autocapitalize="off",
            type="text",
            id="name",
            name="name",
            required='required',
            placeholder="name")
      label(data-required='true', for='email') Email
      input(autocorrect="off",
            autocapitalize="off",
            type="email",
            id="email",
            name="email",
            required='required',
            placeholder="email")
      label(data-required='true', for='subject') Subject
      div.select-style
        select(id="subject",
               name="subject",
               required='required')
          option(value='general') General
          option(value='catering') Catering
      label(data-required='true', for='message') Message
      textarea(id="message",
               name="message",
               required='required',
               placeholder="message")
      div.center
        input(type='submit', value='Send', class='button')

  div(class='box half', role='region')
    h3(id='location-hours') Hours
    ul(id='location-hours-list')
      li
        h4 South Side
        dl
          dt Monday
          dd Closed
          dt Tuesday — Thursday
          dd 11am to 9pm
          dt Friday & Saturday
          dd 11am to 11pm
          dt Sunday
          dd 11am to 9pm
      li
        h4 Public Market
        dl
          dt Monday & Tuesday
          dd Closed
          dt Wednesday — Friday
          dd 10am to 4pm
          dt Saturday
          dd 9am to 5pm
          dt Sunday
          dd 10am to 4pm

  div(class='box', role='region')
    h3(id='map-south-side-header') South Side Location
      span.address 1925 E Carson St, Pittsburgh PA 15203
    div(id='map-south-side', aria-labelledby='map-south-side-header', class='map')

  div(class='box', role='region')
    h3(id='map-public-market-header') Public Market Location
      span.address 2401 Penn Avenue, Pittsburgh, PA, 15222
    div(id='map-public-market', aria-labelledby='map-public-market-header', class='map')

  include ./includes/maps/south-side.jade
  include ./includes/maps/public-market.jade
